body{
  width:80%;
  margin:auto;
}

#address{
  text-align:right;
  margin-top:20px;
}


#home img{
  width:100%;
  height:500px;
}

#home p{
  text-align:justify;
}

#dog{
  margin-top:50px;
  width:48%;
  float:left;
  
}

#cat{
  margin-top:50px;
  width:50%;
  float:right;
}

#birds{
  margin-top:50px;
  width:48%;
}
    
#smallpets{
  margin-top:50px;
  width:50%;
  float:right;
}

#dog img{
  width:400px;
  height:200px;
}


#smallpets img{
  width:400px;
  height:200px;
}

#dog p{
  text-align:justify;
  font-style:italic;
  font-size:15px;
}

#cat p{
  text-align:justify;
  font-style:italic;
  font-size:15px;
}

#birds p{
  text-align:justify;
  font-style:italic;
  font-size:15px;
}

#smallpets p{
  text-align:justify;
  font-style:italic;
  font-size:15px;
}
